:root {
  --main-color: rgb(34, 34, 34);
  --body-color: #e6e6e6;
}

*, *::before , *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

.body {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 40px auto;
  height: 100vh;
  background-color: var(--body-color);
}

.sidebar {
  position: relative;
  grid-column: 1;
  grid-row: 1 / -1;
  background-color: var(--main-color);
}

.sidebar > ul {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  gap: 40px;
  width: 100%;
}

.sidebar > ul > li > a {
  text-decoration: none;
  font-size: 1.1rem;
  color: white;
}

.sidebar > ul > li > a:hover {
  color: #5272F2;
}

.sidebar > ul > li > a:active {
  color: #4d62b3;
}

main {
  overflow: hidden;
  grid-row: 1 / -1
}